<h1>Signup!</h1>

<%= form_for @user do |f| %>
    <%= f.label :username %>
    <%= f.text_field :username %>
    <%= f.label :password %>
    <%= f.password_field :password %>
    <%= f.label :email %>
    <%= f.email_field :email %>
    <%= f.label :band %>
    <%= f.text_field :band, value: "#{band_value}" %>
    <%= f.hidden_field :uid %>
    <%= f.submit %>
<% end %>

<%= link_to 'Log in with Google!', '/auth/google_oauth2' %>