<% if params[:band_id] %>
<% band = Band.find_by_id(params[:band_id]) %>
<h1><%= band.name %> Concerts</h1>
<% band.concerts.each do |concert| %>
<ul>
<h3><%= link_to concert.date, concert_path(concert) %></h3>
<p><%= concert.venue.name %></p>
<p>Admission $<%= concert.admission %></p>
</ul>
<% end %>
<% else %>

<%= render partial: 'venues/form', locals: {venue: @venue} %>