<%= form_for concert do |f| %>
    Date: <%= f.date_field :date %>
    Admission: <%= f.number_field :admission %>
    <br>
    <% if venue_id %>
    <%= f.hidden_field :venue_id, value: venue_id %>
    <% else %>
    <p>Venues <%= f.collection_select(:venue_id, Venue.all, :id, :name, include_blank: 'Choose One') %></p><br>
    <br>
    <h3>New Venue</h3>
    <%= f.fields_for :venue, Venue.new do |v| %>
    Name: <%= v.text_field :name %> <br>
    Location: <%= v.text_field :city %> City <%= v.text_field :state %> State <br>
    Crowd Capacity: <%= v.number_field :crowd_capacity %> <br>
    Parking?: Yes <%= check_box("venue", "parking", {}, "yes") %> No <%= check_box("venue", "parking", {}, "no") %>
    <% end %>    
    <% end %> <br>
    <%= f.submit %>
<% end %>