<%= form_for concert do |f| %>
    Date: <%= f.date_field :date %>
    Admission: <%= f.number_field :admission %>
    <br>
    <% if venue_id || concert.id %>
    <%= f.hidden_field :venue_id, value: venue_id %>
    <% else %>
    <p>Venues <%= f.collection_select(:venue_id, Venue.all, :id, :name, include_blank: 'Choose One') %></p><br>
    <br><br>
    <% end %>    
    <%= f.submit %>
<% end %>