
<center><h1><%= band? %> Concerts</h1></center>


<% @concerts.each do |concert| %>
<%= link_to concert.band.name, band_path(concert.band) %>
<ul>
<h3><%= link_to concert.date, concert_path(concert) %></h3>
<p><%= concert.venue.search %> </p>
<p>Admission $<%= concert.admission %></p>
</ul>
<% end %>

<%= render partial: 'search' %>

<% if logged_in? %>
<%= link_to 'New Show', new_concert_path %>
<% end %>
