<center><h1><%= band? %> Concerts</h1></center>

<% if !band? %>
    <% @concerts.each do |band, concert| %>
        <% band = Band.find(band) %>
        <h2><%= link_to band.name, band_path(band) if !concert.blank? %></h2>
        <%= render partial: 'concerts', locals: {concerts: concert} %>
    <% end %>
<% else %>
    <%= render partial: 'concerts', locals: {concerts: @concerts} %>
<% end %>

<% if @past && !@past.empty? %>
<center><h3>Past Shows</h3></center>
<%= render partial: 'concerts', locals: {concerts: @past} %>
<% end %>

<%= render partial: 'search' %>

<%= link_to 'New Show', new_concert_path if logged_in? %>
