
<center><h1><%= band? %> Concerts</h1></center>

<%= render partial: 'concerts', locals: {concerts: @concerts} %>

<% if @past && !@past.empty? %>
<center><h3>Past Shows</h3></center>
<%= render partial: 'concerts', locals: {concerts: @past} %>
<% end %>

<%= render partial: 'search' %>

<% if logged_in? %>
<%= link_to 'New Show', new_concert_path %>
<% end %>
