
<center><h1><%= band? %></h1></center>

<% @bands.each do |band| %>
<% if !band.concerts.empty? %>
<%= band.name %>
<% band.concerts.each do |concert| %>
<ul>
<h3><%= link_to concert.date, concert_path(concert) %></h3>
<p><%= concert.venue.name %> - <%= concert.venue.location %> </p>
<p>Admission $<%= concert.admission %></p>
</ul>
<% end %>
<% end %>
<% end %>

<%= render partial: 'search' %>

<% if logged_in? %>
<%= link_to 'New Show', new_concert_path %>
<% end %>
