<h1><%= @concert.venue.name %></h1>
<p><%= @concert.venue.city %></p>
<h3><%= @concert.date %></h3>
<p><%= @concert.admission %></p>

<%= link_to 'Delete Concert', concert_path(@concert), method: :delete %>
<%= link_to 'Concerts', concerts_path %>