<center><h1><%= @concert.band.name %> Concert</h1></center>
<h2><%= @concert.venue.name %></h2>
<p><%= @concert.venue.location %></p>
<h3><%= @concert.date %></h3>
<p>Admission: <%= free?(@concert) %></p>

<% if current_user.band == @concert.band %>
<%= link_to 'Delete Concert', concert_path(@concert), method: :delete %>
<% end %>
<%= link_to 'Concerts', band_concerts_path(@concert.band) %>