<h1><%= @band.name %></h1>
<p>Hometown - <%= @band.location %>
<p><%= @band.genre %></p>
<%= link_to 'Concerts', band_concerts_path(@band) %>
<% if @band == current_user.band %>
<%= link_to 'Edit Band', edit_band_path(@band) %>
<% end %>