<!DOCTYPE html>
<html>
  <head>
    <title>FlyerApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <center><h1>Flyer-App!</h1></center>
    <%= link_to 'Concerts', concerts_path %>
    <%= link_to 'Bands', bands_path %>
    <%= link_to 'Venues', venues_path %>
    <% if flash[:error] %>
    <br><%= flash[:error].to_s %>
    <% end %>
    <%= yield %>
  </body>
</html>
<br><br>
<div class="footer">
<% if !!current_user %>
<%= link_to 'Logout', '/logout', method: 'delete' %>
<% else %>
<%= link_to 'Signup', '/signup' %>
<%= link_to 'Login', '/login' %>
<% end %>
</div>
